.container {
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.detail {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  background-color: #F44336;
  padding: 1rem;
  border-radius: 1rem;
}

.detail-divimg {
  width: 60%;
  margin: auto;
}

.detail__image {
  width: 100%;
}

.content {
  width: 100%;
}

.content h1 {
  text-align: center;
  margin: 1rem;
}

.content-default {
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: #EF6C00;
  width: 30%;
  margin: auto;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
}